# Time Series Basics with Pandas

In this notebook, I'm going to talk about time series basics with Pandas.
</br>
Happy learning

## What is the time series?

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
date=[datetime(2020,1,5),
      datetime(2020,1,10),
      datetime(2020,1,15),
      datetime(2020,1,20),
      datetime(2020,1,25)]

In [3]:
ts=pd.Series(np.random.randn(5),index=date)
ts

2020-01-05    1.282164
2020-01-10   -0.785669
2020-01-15    1.423364
2020-01-20    2.273988
2020-01-25   -1.006467
dtype: float64

In [4]:
ts.index

DatetimeIndex(['2020-01-05', '2020-01-10', '2020-01-15', '2020-01-20',
               '2020-01-25'],
              dtype='datetime64[ns]', freq=None)

## Time Series Data Structures

In [5]:
pd.to_datetime("01/01/2020")

Timestamp('2020-01-01 00:00:00')

In [6]:
dates=pd.to_datetime(
    [datetime(2020,7,5),
     "6th of July, 2020",
     "2020-Jul-7",
     "20200708"])
dates

DatetimeIndex(['2020-07-05', '2020-07-06', '2020-07-07', '2020-07-08'], dtype='datetime64[ns]', freq=None)

In [7]:
dates.to_period("D")

PeriodIndex(['2020-07-05', '2020-07-06', '2020-07-07', '2020-07-08'], dtype='period[D]')

In [8]:
dates-dates[0]

TimedeltaIndex(['0 days', '1 days', '2 days', '3 days'], dtype='timedelta64[ns]', freq=None)

## Creating a Time Series

In [9]:
pd.date_range("2020-08-15","2020-09-01")

DatetimeIndex(['2020-08-15', '2020-08-16', '2020-08-17', '2020-08-18',
               '2020-08-19', '2020-08-20', '2020-08-21', '2020-08-22',
               '2020-08-23', '2020-08-24', '2020-08-25', '2020-08-26',
               '2020-08-27', '2020-08-28', '2020-08-29', '2020-08-30',
               '2020-08-31', '2020-09-01'],
              dtype='datetime64[ns]', freq='D')

In [10]:
pd.date_range('2020-07-15', periods=10)

DatetimeIndex(['2020-07-15', '2020-07-16', '2020-07-17', '2020-07-18',
               '2020-07-19', '2020-07-20', '2020-07-21', '2020-07-22',
               '2020-07-23', '2020-07-24'],
              dtype='datetime64[ns]', freq='D')

In [12]:
pd.date_range("2020-07-15",
              periods=10,
              freq="h")

DatetimeIndex(['2020-07-15 00:00:00', '2020-07-15 01:00:00',
               '2020-07-15 02:00:00', '2020-07-15 03:00:00',
               '2020-07-15 04:00:00', '2020-07-15 05:00:00',
               '2020-07-15 06:00:00', '2020-07-15 07:00:00',
               '2020-07-15 08:00:00', '2020-07-15 09:00:00'],
              dtype='datetime64[ns]', freq='h')

In [13]:
pd.period_range("2020-10", 
                periods=10,
                freq="M")

PeriodIndex(['2020-10', '2020-11', '2020-12', '2021-01', '2021-02', '2021-03',
             '2021-04', '2021-05', '2021-06', '2021-07'],
            dtype='period[M]')

In [15]:
pd.timedelta_range(0,periods=8,freq="h")

TimedeltaIndex(['0 days 00:00:00', '0 days 01:00:00', '0 days 02:00:00',
                '0 days 03:00:00', '0 days 04:00:00', '0 days 05:00:00',
                '0 days 06:00:00', '0 days 07:00:00'],
               dtype='timedelta64[ns]', freq='h')

In [16]:
stamp=ts.index[1]
stamp

Timestamp('2020-01-10 00:00:00')

In [17]:
ts[stamp]

-0.7856687549406248

In [18]:
ts["25.1.2020"]

-1.0064670180203035

In [19]:
ts["20200125"]

-1.0064670180203035

In [20]:
long_ts=pd.Series(
    np.random.randn(1000),
    index=pd.date_range("1/1/2020",
                        periods=1000))
long_ts.head()

2020-01-01    0.469626
2020-01-02   -1.944808
2020-01-03    1.144946
2020-01-04   -0.732207
2020-01-05   -0.531008
Freq: D, dtype: float64

In [21]:
long_ts["2020"].head()

2020-01-01    0.469626
2020-01-02   -1.944808
2020-01-03    1.144946
2020-01-04   -0.732207
2020-01-05   -0.531008
Freq: D, dtype: float64

In [22]:
long_ts["2020-10"].head(15)

2020-10-01    0.117869
2020-10-02    0.487878
2020-10-03   -2.696824
2020-10-04    0.990319
2020-10-05    0.115103
2020-10-06   -1.369361
2020-10-07    1.444264
2020-10-08    2.448323
2020-10-09    0.360539
2020-10-10   -0.895426
2020-10-11   -1.180348
2020-10-12   -0.217750
2020-10-13   -0.516411
2020-10-14   -0.727112
2020-10-15   -1.103855
Freq: D, dtype: float64

In [23]:
long_ts[datetime(2022,9,20):]

2022-09-20    1.415839
2022-09-21   -1.777763
2022-09-22   -0.821831
2022-09-23   -1.749100
2022-09-24   -0.311508
2022-09-25   -0.335920
2022-09-26   -1.092742
Freq: D, dtype: float64

## The Important Methods Used in Time Series

In [24]:
ts

2020-01-05    1.282164
2020-01-10   -0.785669
2020-01-15    1.423364
2020-01-20    2.273988
2020-01-25   -1.006467
dtype: float64

In [25]:
ts.truncate(after="1/15/2020")

2020-01-05    1.282164
2020-01-10   -0.785669
2020-01-15    1.423364
dtype: float64

In [26]:
date=pd.date_range("1/1/2020",
                   periods=100,
                   freq="W-SUN")

In [27]:
long_df=pd.DataFrame(np.random.randn(100,4),
                    index=date,
                    columns=list("ABCD"))
long_df.head()

                   A         B         C         D
2020-01-05 -0.873310  1.326968  0.810167  1.831843
2020-01-12  1.390889 -0.467276 -0.572778  0.437487
2020-01-19  0.115888 -0.225583 -1.022089  1.257988
2020-01-26 -1.255817 -1.446003 -0.049423 -1.680839
2020-02-02 -0.607773 -0.750088  0.356671  0.300469

In [30]:
print(long_df.loc['2020-10'])

                   A         B         C         D
2020-10-04 -0.286555 -1.309299  0.658642 -0.806176
2020-10-11  0.377989 -0.613290  0.290385 -1.517545
2020-10-18 -1.177677  2.095232  0.784998  1.084613
2020-10-25  0.269515 -0.343885  0.374295 -0.611250

In [31]:
date=pd.DatetimeIndex(
    ["1/1/2020","1/2/2020","1/2/2020",
     "1/2/2020","1/3/2020"])
ts1=pd.Series(np.arange(5),index=date)
ts1

2020-01-01    0
2020-01-02    1
2020-01-02    2
2020-01-02    3
2020-01-03    4
dtype: int32

In [32]:
ts1.index.is_unique

False

In [33]:
group=ts1.groupby(level=0)

In [34]:
group.count()

2020-01-01    1
2020-01-02    3
2020-01-03    1
dtype: int64

In [35]:
group.mean()

2020-01-01    0.0
2020-01-02    2.0
2020-01-03    4.0
dtype: float64